/*
    Stylesheet for MGS Tumblr theme

*/
:root {
    --animation-stop: 33.33vh;
}

body {
    /* background-image: linear-gradient(black 25%, rgb(16, 81, 7));
     */
     text-shadow: 0 0 5px hsl(149, 79%, 59%);
     
     /* text-shadow: 0 0 5px hsl(149, 91%, 48%); */
    /* -webkit-animation: turnoff 0.5s linear 1s; */


}

#main-content {
    
}

#noise-map {
  background-image: url('assets/Perlin_noise_example.png');
  background-size: cover;
  /* Add other styles, e.g., a background color */
  filter: blur(10px);
  opacity: 0.1;
  z-index: 5;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
    
}

#profile-pic {
    position: relative;
    height:40vh;
    width: auto;
    z-index: 2;
    transform: scale(1,0);
    
    /* Loading animation based on codec animation */
    -webkit-animation: turnon 0.5s linear 0s forwards;
}

#searchbar {
    color: white;
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
}

.post-tag {
    display:flex;
    justify-content: left;
    align-items: flex-end;
    width: 80%;
    height: 5%;

    text-shadow: 0 0 5px hsl(149, 79%, 59%);

}

.post-rect {
    height: 81%;
    width: 30%;
    font-size: 2vh;
}

.post-tri {
    height: 100%;
    width: 10px;
   clip-path: polygon(0 19%, 0 100%, 100% 100%);


}


.post-body {
    width: 100%;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
    flex-direction:column;
    padding-bottom: 10%;
}

.post-rect, .post-body, .post-tri{
    background-color: rgb(7, 23, 26);
    color: white;
}


/* 
.flicker::after{

} */

.post {
    height:80vh;
    width:50vh
}

#mgs-logo{
    display:flex;
    margin: auto;
    justify-content: space-around;
    height:17vh;

}

#test{
    color: gray;
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#crt-color-base {
    position:fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    
    background-image: conic-gradient(black 45%, rgb(16, 81, 7));
    
    
    
    /* background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, 
        rgb(0, 0, 0) 100% 
    ),radial-gradient(black , rgb(29, 68, 24)); */

    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* Transparent white at the top of the overlay */
        rgb(0, 0, 0) 100% /* Opaque white at the bottom */
    ),radial-gradient(rgb(29, 68, 24), rgb(29, 68, 24));
    
    
    
    
}

/**
 background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* Transparent white at the top of the overlay 
        rgb(0, 0, 0) 100% /* Opaque white at the bottom 
    ),radial-gradient(black 45%, rgb(16, 81, 7));
    
    background-size: 100% 50%;
**/

#page-color-base {
    position:fixed; 
    top: 33.33vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
    
    background-image: linear-gradient(black 25%, black);
    background-size: 100% 50%;
    
}


.crt-background-static {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: var(--animation-stop);
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

#crt-background {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--animation-stop);
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
    
   

      -webkit-animation: scanline 0.15s linear 1s infinite;
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

@-webkit-keyframes flicker {
     0% {
          background-image:
      linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    35% {
   background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 2px,
                                    rgba(0,0,0,0) 12px,
                                    rgba(20,0,0,0.2) 22px
                                ),
    
    radial-gradient(black 12%, rgb(16, 81, 7))
    }

    45% {
        background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 3px,
                                    rgba(0,0,0,0) 13px,
                                    rgba(20,0,0,0.2) 23px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    

    100% {
         background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 10%, rgb(16, 81, 7))
    }
    
}

@-webkit-keyframes scanline {
    0% {background-position: 0px 0px}
  30% {background-position: 0px 2px}
  60% {background-position: 0px 2px}
  100% {background-position: 0px 10px}
}

@-webkit-keyframes turnon {
    50% {
        transform: scale(1, 0.0);
        align-self:center;
        /* width: 100vw;
        height:2px; */
    }
    99% {
        transform: scale(1, 1);
        align-self:center;
        
        filter: contrast(50%) saturate(200%);
        /* width: 0vw;
        height: 0px; */
    }

    100%{
        transform: scale(1, 1);
        align-self:center;
        filter: contrast(100%) saturate(100%);
    }
}