/*
    Stylesheet for MGS Tumblr theme

*/
:root {
    --animation-stop: 33.33vh;
}

body {
    /* background-image: linear-gradient(black 25%, rgb(16, 81, 7));
     */
     text-shadow: 0 0 5px hsl(149, 79%, 59%);
     
     /* text-shadow: 0 0 5px hsl(149, 91%, 48%); */
    /* -webkit-animation: turnoff 0.5s linear 1s; */
}

#crt-border {
     box-shadow: 0 0 150px 100px rgba(0, 0, 0, 0.7); 
    border-radius: 15px;
    position: fixed;
    top:0;
    border-top: 5%;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200vh;

}

#noise-map {
    pointer-events: none;
    background-image: url('assets/tv-static.jpg');
    background-size: cover;
    /* Add other styles, e.g., a background color */
    /* filter: blur(15px); */
    opacity: 0.3;
    z-index: 1;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    filter:brightness(120%);
    mix-blend-mode: multiply;

    /* -webkit-animation: scanline 0.15s linear 1s infinite; */
    
}




#profile-sidebar-column {
    position: sticky;
    top:5vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#profile-pic {
    position: relative;
    height:25vh;
    width: auto;
    /* z-index: 3; */
    /* this is so sad but it isn't possible */
    transform: scale(1,0);
    
    /* Loading animation based on codec animation */
    -webkit-animation: turnon 0.5s linear 0s forwards;
}

#codec-memory {
    height: 25vh;
}

#pfp-codec-container {
    display: flex;
    justify-content:row;
}
.rect-button {
    background-color: rgb(12 65 32);
    height: 5vh;
    width: 15vh;
    margin-bottom: 5vh;
    position: relative
}

.rect-button:hover {
    background-color: rgba(105, 160, 122);
}

.rect-button:hover .rect-button-inner{
    box-shadow: 
        0.2vh 0vh rgb(255, 252, 49),
        0.4vh 0vh rgb(255, 212, 212),
        -0.2vh -0vh  rgb(141, 219, 255),
        -0.4vh -0vh  rgb(154, 184, 255);

        background-color: rgb(198 244 138);
    /* background-color: rgb(252, 252, 251); */
    z-index: 3;
    /* filter: drop-shadow(0 0 15px rgb(255, 255, 255)); */ 
}
/* 
.rect-button-inner::before{
    position: absolute;
    top:0;
    background-color: rgb(39, 39, 255);
    content: "";
      z-index: -1;
      display: block;
}

.rect-button-inner::after{
    position: absolute;
    top:0;
    background-color: rgb(244, 147, 147);
    content: "";
    z-index: -2;
    display: block;
}

.rect-button:hover .rect-button-inner::before{
    transform: translate(-5%, -5%);
    background-color: rgb(122, 78, 255);
    
    height: 100%;
    width: 100%;
    z-index: 20;
}

.rect-button:hover .rect-button-inner::after{
    transform: translate(5%, 5%);
    background-color: rgb(244, 147, 147);
    
    height: 100%;
    width: 100%;
} */

.rect-button-inner {
    background-color: rgb(4 10 13);
    height: 80%;
    width: 70%;
    position: relative;
    top:10%;
    left: 15%;
    
}

#buttons-about-me-container {
    display: flex;
    justify-content:row;
}

.rect-button-label {
    color: white;
    position: absolute;
    top: 5vh;
    text-align: right;
    font-size: 2vh;
    width: 100%;
}

#searchbar {
    color: white;
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
}

#post-sidebar {
    margin-left: 10vh;
    overflow-y: auto;
    position: relative;
}

#post-sidebar::-webkit-scrollbar {
    display: none;
}

.post-tag {
    display:flex;
    justify-content: left;
    align-items: flex-end;
    width: 80%;
    height: 5%;
    position: absolute;
    text-shadow: 0 0 5px hsl(149, 79%, 59%);

    z-index: 4;

}

.post-text {
    z-index: 5;
}
/* all imgs within a post */
img .post {
    height: 20vh;
    margin-bottom: 20%;
}

.post-img {
    width: 100%;
    padding-bottom: 10%;
    overflow-y:auto;
}

.post-rect {
    height: 81%;
    width: 30%;
    font-size: 2vh;
}

.post-tri {
    height: 100%;
    width: 10px;
   clip-path: polygon(0 19%, 0 100%, 100% 100%);


}


.post-body {
    position: absolute;
    top: 5%;
    padding-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
    flex-direction:column;
    padding-bottom: 5%;
}

.post-rect, .post-body, .post-tri{
    background-color: rgb(7, 23, 26);
    color: white;
}


/* 
.flicker::after{

} */

.post {
    position: relative;
    height:30vh;
    width:50vh;
    overflow-y: hidden;
}

#mgs-logo{
    display:flex;
    margin: auto;
    justify-content: space-around;
    height:17vh;

}

#test{
    color: gray;
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#crt-color-base {
    position:fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    
    background-image: conic-gradient(black 45%, rgb(16, 81, 7));
    
    
    
     background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, 
        rgb(0, 0, 0) 100% 
    ),radial-gradient(black, rgb(29, 68, 24)); 

    
    
    
}



/**
 background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* Transparent white at the top of the overlay 
        rgb(0, 0, 0) 100% /* Opaque white at the bottom 
    ),radial-gradient(black 45%, rgb(16, 81, 7));
    
    background-size: 100% 50%;
**/

#page-color-base {
    position:fixed; 
    top: 33.33vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
    
    background-image: linear-gradient(black 25%, black);
    background-size: 100% 50%;
    
}


.crt-background-static {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: var(--animation-stop);
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

#crt-background {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--animation-stop);
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
    
   

      -webkit-animation: scanline 0.15s linear 1s infinite;
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

@-webkit-keyframes flicker {
     0% {
          background-image:
      linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    35% {
   background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 2px,
                                    rgba(0,0,0,0) 12px,
                                    rgba(20,0,0,0.2) 22px
                                ),
    
    radial-gradient(black 12%, rgb(16, 81, 7))
    }

    45% {
        background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 3px,
                                    rgba(0,0,0,0) 13px,
                                    rgba(20,0,0,0.2) 23px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    

    100% {
         background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 10%, rgb(16, 81, 7))
    }
    
}

@-webkit-keyframes scanline {
    0% {background-position: 0px 0px}
  30% {background-position: 0px 2px}
  60% {background-position: 0px 2px}
  100% {background-position: 0px 10px}
}

@-webkit-keyframes crtturnon {

    50% {
         background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, 
        rgb(0, 0, 0) 100% 
    ),radial-gradient(rgb(11, 35, 8) , rgb(29, 68, 24)); 
    }
    
    100% {
         background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, 
        rgb(0, 0, 0) 100% 
    ),radial-gradient(black , rgb(29, 68, 24)); 
    }
}

@-webkit-keyframes turnon {
    50% {
        transform: scale(1, 0.0);
        align-self:center;
        /* width: 100vw;
        height:2px; */
    }
    99% {
        transform: scale(1, 1);
        align-self:center;
        
        filter: contrast(50%) saturate(200%);
        /* width: 0vw;
        height: 0px; */
    }

    100%{
        transform: scale(1, 1);
        align-self:center;
        filter: contrast(100%) saturate(100%);
    }
}