/*
    Stylesheet for MGS Tumblr theme

*/

body {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 25%, rgb(16, 81, 7));
    
   

      -webkit-animation: flicker 0.2s linear 1s infinite;
    }

/* 
.flicker::after{

} */

@-webkit-keyframes flicker {
     0% {
          background-image:
      linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    35% {
   background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 2px,
                                    rgba(0,0,0,0) 12px,
                                    rgba(20,0,0,0.2) 22px
                                ),
    
    radial-gradient(black 12%, rgb(16, 81, 7))
    }

    45% {
        background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 3px,
                                    rgba(0,0,0,0) 13px,
                                    rgba(20,0,0,0.2) 23px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    

    100% {
         background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 10%, rgb(16, 81, 7))
    }
    
}