/*
    Stylesheet for MGS Tumblr theme

*/

body {
    /* background-image: linear-gradient(black 25%, rgb(16, 81, 7));
     */
}

/* 
.flicker::after{

} */

.post {
    
}

#test{
    color: gray;
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#crt-color-base {
    position:fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    
    background-image: conic-gradient(black 45%, rgb(16, 81, 7));
    
    
    
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* Transparent white at the top of the overlay */
        rgb(0, 0, 0) 100% /* Opaque white at the bottom */
    ),radial-gradient(black 45%, rgb(16, 81, 7));
    
    
    
    
}

/**
 background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* Transparent white at the top of the overlay 
        rgb(0, 0, 0) 100% /* Opaque white at the bottom 
    ),radial-gradient(black 45%, rgb(16, 81, 7));
    
    background-size: 100% 50%;
**/

#page-color-base {
    position:fixed; 
    top: 33.33vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
    
    background-image: linear-gradient(black 25%, black);
    background-size: 100% 50%;
    
}


.crt-background-static {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: 33.3vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

#crt-background {
    /*
        First gradient is vertical lines, second is horizontal

        Base CRT effect is achieved through semi opaque cells created
        by the rectangular gradient grid being overlayd on top of a
        vignette and base color gradient.
    */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 33.33vh;
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 5px,
                                    rgba(20,0,0,0.2) 10px
                                );
    
   

      -webkit-animation: scanline 0.15s linear 1s infinite;
      /* -webkit-animation: flicker 0.08s linear 1s infinite; */
      z-index: 1;
      pointer-events: none;
}

@-webkit-keyframes flicker {
     0% {
          background-image:
      linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    35% {
   background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 2px,
                                    rgba(0,0,0,0) 12px,
                                    rgba(20,0,0,0.2) 22px
                                ),
    
    radial-gradient(black 12%, rgb(16, 81, 7))
    }

    45% {
        background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 3px,
                                    rgba(0,0,0,0) 13px,
                                    rgba(20,0,0,0.2) 23px
                                ),
    
    radial-gradient(black 2%, rgb(16, 81, 7))
    }
    

    100% {
         background-image:
      repeating-linear-gradient(to right,
                                    rgba(50,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 8px,
                                    rgba(50,0,0,0.2) 16px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0.2) 0px,
                                    rgba(0,0,0,0) 10px,
                                    rgba(20,0,0,0.2) 20px
                                ),
    
    radial-gradient(black 10%, rgb(16, 81, 7))
    }
    
}

@-webkit-keyframes scanline {
    0% {background-position: 0px 0px}
  30% {background-position: 0px 2px}
  60% {background-position: 0px 2px}
  100% {background-position: 0px 10px}
}