/*
    Stylesheet for MGS Tumblr theme

*/

body {
    background-image:
      repeating-linear-gradient(to right,
                                    rgba(0,0,0,0) 0px,
                                    rgba(0,0,0,0.2) 8px,
                                    rgba(0,0,0,0) 12px
                                ),
    repeating-linear-gradient(to bottom,
                                    rgba(0,0,0,0) 0px,
                                    rgba(0,0,0,1) 5px,
                                    rgba(0,0,0,0) 10px
                                ),
    radial-gradient(green, green);

}